html {
  font-size: 100%;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

body {
  background: #08022d;
}

body,
input,
textarea,
button {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 0.9rem; /*18px*/
}

h1 {
  font-size: 3.5rem; /*70px*/
  text-align: center;
}

h2 {
  font-size: 2.4rem; /*48px*/
  margin: 0;
}

h3 {
  font-size: 1.9rem; /*38px*/
  margin-bottom: 12px;
}

h4 {
  margin-top: 45px;
}

p {
  font-weight: 400;
  line-height: 35px; /* TODO change to rem */
}

a {
  text-decoration: none;
  color: inherit;
}

#logo {
  text-transform: uppercase;
  font-size: 1.4rem; /*28px*/
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu-container {
  position: relative;
}

.mobile-menu-container p {
  text-transform: uppercase;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 0.3rem 0;
  display: inline-block;
  font-weight: 600;
  letter-spacing: 1px;
  margin-left: 5rem;
}

.mobile-menu-container:hover .mobile-menu {
  display: block;
}

.mobile-menu {
  background: rgb(160, 233, 227);
  padding: 1rem;
  color: black;
  display: none;
  position: absolute;
}

.mobile-menu ul {
  list-style: none;
  padding: 0;
}

.desktop-menu {
  display: none;
}

.header-image {
  width: 100%;
}

.badge {
  align-self: center;
  position: relative;
  top: 44px;
  width: 80px;
}

button {
  background: #3d20ef;
  padding: 15px;
  color: white;
  border: none;
}

.about-section-image {
  width: 70%;
  height: calc(85vw * 0.7);
  object-fit: cover;
  align-self: flex-end;
}

.about-section-image-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  align-items: center;
  margin: 2.5rem 0 1rem 0;
}

.slashes {
  align-self: flex-start;
  padding-right: 0.5rem;
}

.user-count {
  background: #3d20ef;
  padding: 50px;
  width: 70%;
  height: calc(85vw * 0.7);
  margin-top: calc(-85vw * 0.7 / 2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-count p {
  margin: 0;
  text-transform: uppercase;
  font-size: 3.5rem;
  line-height: 5rem;
  text-align: center;
  font-weight: 600;
}

.exercises-container {
  border-bottom: #ffd600 solid 10px;
  flex-direction: column;
  display: flex;
  position: relative;
  margin-bottom: 30px;
}

.exercises-container h3 {
  position: absolute;
  bottom: 0;
  left: 1rem;
}

.exercises-section ul img {
  width: 100%;
  height: 35vh;
  object-fit: cover;
}

.exercises-section ul,
nav ul {
  list-style: none;
  padding: 0;
}

.form-section {
  background-image: url(./assets/image7.jpg);
  padding-bottom: 5rem;
}

.testimonial-content {
  border-left: #ffd600 solid 10px;
  display: flex;
  flex-direction: column;
  margin: 0.9rem 0 3.5rem 0;
}

.testimonial-content p {
  font-size: 1.4rem; /*28px*/
  padding-left: 2rem;
}

.founder-content {
  display: flex;
  padding-left: 2rem;
  align-items: center;
}

.founder-content img {
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
}

.arrow {
  align-self: flex-end;
}

.location {
  border-bottom: #9e9da6 solid 1px;
  margin: 40px 0;
}

.badge-bottom {
  width: 80px;
}

.copyright {
  border-top: #9e9da6 solid 1px;
  text-align: center;
  color: #9e9da6;
  padding: 10px 0;
}

nav li {
  font-weight: 400;
  display: inline-block;
  margin-right: 40px;
}

.join-form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 400;
}

input,
textarea {
  margin: 0.5rem 0 1rem 0;
}

.join-form button {
  margin-top: 0.5rem;
}

@media (min-width: 500px) {
  html {
    font-size: 125%;
  }

  .desktop-menu {
    display: block;
  }

  .mobile-menu-container {
    display: none;
  }

  .about-section .wrapper {
    flex-direction: row;
  }

  .our-space {
    width: 50%;
    padding-right: 3rem;
  }

  .about-section-image-container {
    width: 50%;
  }

  .about-section-image {
    height: calc(85vw * 0.7 / 2);
  }

  .user-count {
    height: calc(85vw * 0.7 / 2);
    margin-top: calc(-85vw * 0.7 / 2 / 2);
  }

  .form-section-inner {
    width: 60%;
  }

  .form-section button {
    align-self: flex-start;
  }

  .testimonial-content {
    width: 60%;
  }

  .footer-inner {
    display: flex;
    justify-content: space-between;
  }

  .location {
    border: none;
  }

  footer nav {
    display: flex;
  }

  footer nav li {
    display: block;
    margin-bottom: 1rem;
  }

  .copyright {
    text-align: left;
  }
}
